.myPosts {
  padding-left: 20px;
}

.textareaAndBtn {
  display: flex;
  padding-right: 5px;
}

button {
  height: 35px;
  width: 90px;
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: steelblue;
  color: white;
  border-radius: 20px;
}
h2 {
  color: black;
  margin-bottom: 5px;
}

.textarea {

}
