.header {
  grid-area: header;
  background-color: steelblue;
}

.header img {
  width: 80px;

  margin: 15px;
  border-radius: 45px;
}

.loginBlock {
  margin-right: 40px;
  margin-top: 5px;
  float: right;
  color:steelblue;
}

.loginBlock a {
  color: black;
}

.loginLink{
  text-decoration: none;
}

h1{
  margin-top: 20px;
  color: white
}

button {
  margin-top:31px
}
