.footerContainer{
    grid-area: footer;
    background: steelblue;
    display:flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px
}

.socialNetWorks{
    margin-right:350px
}