.dialogs {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: crimson;
}

.messages {
  padding: 10px;
}

.messages .message {
}

.messageTextarea {
  display: flex;
  padding-right: 5px;
}

.messageButton {
  height: 55px;
  width: 100px;
  background-color: darkgreen;
  margin-left: 15px;
  color: white;
}
