.dialogs {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding-left: 40px;
  maring-top: 15px;
}

.dialogsItems .active {
  color: crimson;
}

.messages {
  padding: 10px;
}

.messages .message {
}

.messageTextarea {
  display: block;
  padding-left: 15px;
}

.messageButton {
  height: 45px;
  width: 100px;
  background-color: steelblue;
  margin-left: 15px;
  color: white;
}
