.paginator {
  margin: 10px;
  overflow-inline: auto;
}
.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
button {
  margin:20px
}